{% extends 'polls/base.html' %}
{% block title %}
投票页面
{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}


{% block body %}
    <h2>请投票</h2>
    <h3>{{ question.title }}</h3>

    <ul>
        <form action="{% url 'polls:detail' question.id  %}" method="post">
            {% csrf_token %}
            {% for c in question.choice_set.all %}

            {% if forloop.counter == 1 %}

            <li><input type="radio" checked name="info" value="{{ c.id }}"> {{ c.title }}</li>

            {% else %}

            <li><input type="radio" name="info" value="{{ c.id }}"> {{ c.title }}</li>

            {% endif %}

            {% endfor %}

            <input type="submit" value="投票">

        </form>

    </ul>

<a href="{% url 'polls:index' %}"> 返回首页 </a>
{% endblock %}